@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors that are using gloablly */
  --main-color: #9f9f9f;
  --heading-color: #fff;
  --primary-color: #eb5d3a;
  --lighter-color: #ccc;
  --subtitle-color: #ccc;
  --black-color: #000;
  --border-color: rgba(119, 119, 125, .2);
  --button-border: rgba(119, 119, 125, .2);
  --body-background: #000;
  --grey-bg: #E6EAEE;

  /* breakpoint for different screens */
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;

  /* --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 992px;
  --breakpoint-large-desktop: 1200px; */
}

body {
  color: var(--main-color);
  /* background: var(--body-background); */
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  font-family: Poppins,sans-serif;
  overflow-x: hidden
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background: var(--body-background);
}